{
  "openapi": "3.0.1",
  "info": {
    "title": "ChannelEngine Merchant API",
    "description": "ChannelEngine API for merchants",
    "version": "2.14.0"
  },
  "servers": [
    {
      "url": "https://demo.channelengine.net/api"
    }
  ],
  "paths": {
    "/v2/cancellations/merchant": {
      "get": {
        "tags": [
          "Cancellation"
        ],
        "summary": "Gets cancelations",
        "description": "Gets cancelations based on their creation date.",
        "operationId": "CancellationGetForMerchant",
        "parameters": [
          {
            "name": "createdSince",
            "in": "query",
            "description": "Filter on the create date of the cancellation in ChannelEngine, starting from this date. This date is inclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantCancellationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cancellations": {
      "post": {
        "tags": [
          "Cancellation"
        ],
        "summary": "Creates a cancelation",
        "description": "Marks an order as fully or partially canceled based on order line and quantity input.",
        "operationId": "CancellationCreate",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantCancellationRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantCancellationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantCancellationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/channels": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Gets channels",
        "description": "Gets the complete list of channels available on ChannelEngine including their **Global channel ID**.",
        "operationId": "Channel PluginsGet",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfChannelGlobalChannelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/competitionprices/buyboxprices": {
      "get": {
        "tags": [
          "CompetitionPrice"
        ],
        "summary": "Gets the price from the buy box winner",
        "description": "Gets the current price of the buy box winner per product for a marketplace.",
        "operationId": "CompetitionPricesGetBuyBoxPrices",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "description": "The id of the channel",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "gtinList",
            "in": "query",
            "description": "Search products by submitting a list of GTIN's. (optional)<br />Max. 2000.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "skuList",
            "in": "query",
            "description": "Search products by submitting a list of Sku's. (optional)<br />Max. 2000. If GtinList is already set, this one is ignored.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantProductWithBuyBoxPrice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fulfillmentstock": {
      "get": {
        "tags": [
          "FulfillmentStock"
        ],
        "summary": "Gets product stock across all warehouses with stock locations",
        "description": "Gets the stocks. The warehouses must be set up as stock locations on ChannelEngine.",
        "operationId": "FulfillmentStockGetFulfillementStockWithStockLocations",
        "parameters": [
          {
            "name": "merchantProductNos",
            "in": "query",
            "description": "List of your products' MerchantProductNo's.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "A page index to get the items (starts from 0)",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return (default 100)",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantFulfillmentStockGetStockLocationsRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/channels/{channelId}/products": {
      "get": {
        "tags": [
          "ListedProducts"
        ],
        "summary": "Gets products listed by channel",
        "description": "Gets the products listed per channel based on the **Channel ID**.<br /> <br />**NB:** not all marketplaces provide adequate options to retrieve the status of a product as seen on the marketplace.",
        "operationId": "Listed ProductGetByFilter",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "description": "The id of a channel",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "merchantProductNos",
            "in": "query",
            "description": "The unique product references used by the Merchant (SKUs)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfChannelListedProductResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/notifications": {
      "get": {
        "tags": [
          "Notification"
        ],
        "summary": "Gets notifications",
        "description": "Gets ChannelEngine notifications based on the available filters.",
        "operationId": "NotificationIndex",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "description": "Filter on the notification date, starting from this date. This date is inclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Filter on the notification date, until this date. This date is exclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Notification type(s) to filter on.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/NotificationType"
              }
            }
          },
          {
            "name": "merchantOrderNos",
            "in": "query",
            "description": "Filter on unique order reference used by the merchant.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "channelOrderNos",
            "in": "query",
            "description": "Filter on unique order reference used by the channel.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "merchantReturnNos",
            "in": "query",
            "description": "Filter on unique return reference used by the merchant.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "channelReturnNos",
            "in": "query",
            "description": "Filter on unique return reference used by the channel.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "merchantShipmentNos",
            "in": "query",
            "description": "Filter on unique shipment reference used by the merchant.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantNotificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/offer": {
      "put": {
        "tags": [
          "Offer"
        ],
        "summary": "Updates stock and price",
        "description": "Updates product stock and price.",
        "operationId": "OfferStockPriceUpdate",
        "requestBody": {
          "description": "References to the products that should be updated, and the new values<br />for the stock or price fields. It is possible to supply only one of the two fields<br />or both.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantStockPriceUpdateRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantStockPriceUpdateRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantStockPriceUpdateRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "**Message** can be **\"Updates processed without warnings\"** or in case of validations **\"Updates processed, see 'Content' for warnings\"**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleOfDictionaryOfStringAndListOfString"
                }
              }
            }
          }
        }
      }
    },
    "/v2/offer/stock": {
      "put": {
        "tags": [
          "Offer"
        ],
        "summary": "Updates stock",
        "description": "Updates product stock.",
        "operationId": "OfferStockUpdate",
        "requestBody": {
          "description": "References to the new values for the stock fields.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantOfferStockUpdateRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantOfferStockUpdateRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantOfferStockUpdateRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "**Message** can be **\"Updates processed without warnings\"** or in case of validations **\"Updates processed, see 'Content' for warnings\"**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleOfDictionaryOfStringAndListOfString"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Offer"
        ],
        "summary": "Gets product stock across all warehouses",
        "description": "Gets the stock available in the warehouses. The warehouses must be set up as stock locations on ChannelEngine.",
        "operationId": "OfferGetStock",
        "parameters": [
          {
            "name": "skus",
            "in": "query",
            "description": "List of your products' sku's.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "stockLocationIds",
            "in": "query",
            "description": "The ChannelEngine id of the stock location(s).",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "A page index to get the items (starts from 0)",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return (default 100)",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantOfferGetStockResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Gets orders by filter",
        "description": "Gets orders based on the available filters.",
        "operationId": "OrderGetByFilter",
        "parameters": [
          {
            "name": "statuses",
            "in": "query",
            "description": "Order status(es) to filter on. AWAITING_PAYMENT orders will be excluded if it is not included in this Statuses filter.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/OrderStatusView"
              }
            }
          },
          {
            "name": "emailAddresses",
            "in": "query",
            "description": "Client emailaddresses to filter on.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "merchantOrderNos",
            "in": "query",
            "description": "Filter on unique order reference used by the merchant.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "channelOrderNos",
            "in": "query",
            "description": "Filter on unique order reference used by the channel.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "commercialOrderNos",
            "in": "query",
            "description": "Filter on commercial order numbers.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Filter on the order date, starting from this date. This date is inclusive.<br />The order date is based on the data we got from a channel.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Filter on the order date, until this date. This date is exclusive.<br />The order date is based on the data we got from a channel.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "fromCreatedAtDate",
            "in": "query",
            "description": "Filter on the created at date in ChannelEngine, starting from this date. This date is inclusive.<br />The created date is set on the date and time when the order is created.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toCreatedAtDate",
            "in": "query",
            "description": "Filter on the created at date in ChannelEngine, until this date. This date is exclusive.<br />The created date is set on the date and time when the order is created.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "excludeMarketplaceFulfilledOrdersAndLines",
            "in": "query",
            "description": "Exclude order (lines) fulfilled by the marketplace (amazon:FBA, bol:LVB, etc.)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fulfillmentType",
            "in": "query",
            "description": "Filter orders on fulfillment type. This will include all orders lines, even if they are partially fulfilled by the marketplace.<br />To exclude orders and lines that are fulfilled by the marketplace from the response, set ExcludeMarketplaceFulfilledOrdersAndLines to true.",
            "schema": {
              "$ref": "#/components/schemas/FulfillmentType"
            }
          },
          {
            "name": "onlyWithCancellationRequests",
            "in": "query",
            "description": "Filter on orders containing cancellation requests.<br />Some channels allow a customer to cancel an order until it has been shipped.<br />When an order has already been acknowledged in ChannelEngine, it can only be cancelled by creating a cancellation.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Filter orders on channel(s).",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "stockLocationIds",
            "in": "query",
            "description": "Filter on stock locations",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "isAcknowledged",
            "in": "query",
            "description": "Filter on acknowledged value",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fromUpdatedAtDate",
            "in": "query",
            "description": "Filter on the order update date, starting from this date. This date is inclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toUpdatedAtDate",
            "in": "query",
            "description": "Filter on the order update date, unitl this date. This date is exclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "fromAcknowledgedDate",
            "in": "query",
            "description": "Filter on the order acknowledged date, starting from this date. This date is inclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toAcknowledgedDate",
            "in": "query",
            "description": "Filter on the order acknowledged date, unitl this date. This date is exclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/new": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Gets new orders",
        "description": "Gets orders with the status **New**.",
        "operationId": "OrderGetNew",
        "parameters": [
          {
            "name": "stockLocationId",
            "in": "query",
            "description": "The ChannelEngine id of the stock location.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/acknowledge": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Acknowledges orders",
        "description": "Acknowledges an order to confirm order import.",
        "operationId": "OrderAcknowledge",
        "requestBody": {
          "description": "Relations between the id's returned by ChannelEngine and the references which the merchant uses.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantOrderAcknowledgementRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantOrderAcknowledgementRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantOrderAcknowledgementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{merchantOrderNo}/invoice": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Generates an order invoice",
        "description": "Generates the ChannelEngine sales tax invoice for an order in PDF.",
        "operationId": "OrderInvoice",
        "parameters": [
          {
            "name": "merchantOrderNo",
            "in": "path",
            "description": "The unique order reference as used by the merchant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useCustomerCulture",
            "in": "query",
            "description": "Generate the invoice in the billing address' country's language.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice PDF",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Uploads an order invoice",
        "description": "Uploads the invoice for an order in PDF.",
        "operationId": "OrderUploadInvoice",
        "parameters": [
          {
            "name": "merchantOrderNo",
            "in": "path",
            "description": "The unique order reference as used by the merchant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "invoice"
                ],
                "type": "object",
                "properties": {
                  "invoice": {
                    "type": "string",
                    "description": "PDF invoice file up to 1 MB with additional data.",
                    "format": "binary"
                  },
                  "invoiceNumber": {
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string",
                    "description": "The invoice number used in the invoice."
                  }
                }
              },
              "encoding": {
                "invoice": {
                  "style": "form"
                },
                "invoiceNumber": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{merchantOrderNo}/packingslip": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Generates a packing slip",
        "description": "Generates the ChannelEngine packing slip for an order in PDF.",
        "operationId": "OrderPackingSlip",
        "parameters": [
          {
            "name": "merchantOrderNo",
            "in": "path",
            "description": "The unique order reference as used by the merchant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useCustomerCulture",
            "in": "query",
            "description": "Generate the invoice in the billing address' country's language.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Packing Slip PDF",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/comment": {
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Updates an order comment",
        "description": "Updates the merchant comment for an order based on the ChannelEngine **Order ID** or the **Merchant order number**.",
        "operationId": "OrderUpdate",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantOrderCommentUpdateRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantOrderCommentUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantOrderCommentUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{merchantOrderNo}/invoice-base64": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Uploads an order invoice PDF from Base64 string.",
        "description": "Uploads an order invoice PDF from Base64 string.<br />Invoice size must be less than 1 mb.",
        "operationId": "OrderUploadInvoiceAsString",
        "parameters": [
          {
            "name": "merchantOrderNo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantInvoiceUploadRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantInvoiceUploadRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantInvoiceUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/products": {
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "Updates or creates products",
        "description": "Updates or creates products. The endpoint is purge and replace.<br />If you do not include an attribute, it is overwritten with null.<br />Extra data arrays are not effected by purge and replace, and remain unchanged.<br />To exclude stock from the update, set the **Ignore stock** attribute to **true**.<br />To exclude price from the update, set the **Ignore price** attribute to **true**.<br /><br />**NB:** the **Merchant product number** must be unique.",
        "operationId": "ProductCreate",
        "parameters": [
          {
            "name": "ignoreStock",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ignorePrice",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantProductRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantProductRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantProductRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "If products don't pass validations then **ProductMessages** in 'Content' are filled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleOfProductCreationResult"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Gets products",
        "description": "Retrieve all products. Apply available filters to narrow down your search.",
        "operationId": "ProductGetByFilter",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search product(s) by Name, MerchantProductNo, Ean or Brand<br />This search is applied to the result after applying the other filters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eanList",
            "in": "query",
            "description": "Search products by submitting a list of EAN's.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "merchantProductNoList",
            "in": "query",
            "description": "Search products by submitting a list of MerchantProductNo's.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantProductResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Product"
        ],
        "summary": "Updates products attributes",
        "description": "Updates specific attributes of product data. You can update single or multiple attributes for one or multiple products.<br />You can also add custom attributes via this endpoint. The format of this endpoint is JSON Patch.<br />Products are updated for the fields listed in the array **PropertiesToUpdate**:<br />[name, <br />description, <br />details, <br />brand, <br />size, <br />color, <br />ean, <br />groupno **or** ParentMerchantProductNo, <br />groupno2 **or** ParentMerchantProductNo2, <br />type, <br />merchantproductno,<br />vendorproductno, <br />stock, <br />price, <br />listprice **or** MSRP, <br />purchaseprice, <br />minprice, <br />maxprice, <br />discountrate, <br />vatrate, <br />margin, <br />shippingcost, <br />shippingtime, <br />url, <br />imageurl, <br />extraimageurl1, <br />extraimageurl2, <br />extraimageurl3, <br />extraimageurl4, <br />extraimageurl5, <br />extraimageurl6, <br />extraimageurl7, <br />extraimageurl8, <br />extraimageurl9, <br />categoryid,<br />vatratetype]<br /> <br />Sample request:<br /><pre><br />PATCH /v2/products<br />{<br /> \"PropertiesToUpdate\": [<br /> \"name\",<br /> \"description\"<br /> ],<br /> \"MerchantProductRequestModels\": [<br /> {<br /> \"MerchantProductNo\": \"testMerchantProductNo\",<br /> \"Name\": \"testName\",<br /> \"Description\": \"testDescription\",<br /> },<br /> {<br /> \"MerchantProductNo\": \"testMerchantProductNo2\",<br /> \"Name\": \"testName3\",<br /> \"Description\": \"testDescription1\",<br /> }<br /> ]<br />}<br /></pre>",
        "operationId": "ProductBulkPatch",
        "requestBody": {
          "description": "1) PropertiesToUpdate: Fields to update<br />2) MerchantProductRequestModels: Products to be updated",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMerchantProductDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMerchantProductDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMerchantProductDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleOfProductCreationResult"
                }
              }
            }
          }
        }
      }
    },
    "/v2/products/{merchantProductNo}": {
      "delete": {
        "tags": [
          "Product"
        ],
        "summary": "Deletes a product",
        "description": "Deletes a product based on the **Merchant product number**.<br /> <br />**NB:** ChannelEngine deactivates but does not delete the product entirely, as it might be still referenced in orders.<br />Therefore, the references used for this product cannot be reused.",
        "operationId": "ProductDelete",
        "parameters": [
          {
            "name": "merchantProductNo",
            "in": "path",
            "description": "The MerchantProductNo of the product you wish to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Gets a product",
        "description": "Retrieves a product based on the **Merchant product number**.",
        "operationId": "ProductGetByMerchantProductNo",
        "parameters": [
          {
            "name": "merchantProductNo",
            "in": "path",
            "description": "The unique product reference used by the Merchant (sku).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleOfMerchantProductResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleOfMerchantProductResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Product"
        ],
        "summary": "Updates product attributes",
        "description": "Updates specific attributes of a single product based on the **Merchant product number**. The endpoint uses the [JSON Patch](http://jsonpatch.com/).<br /><br />Sample request:<br /><pre><br /> PATCH /v2/products/{merchantProductNo}<br /> {<br /> \"value\": \"Value\",<br /> \"path\": \"Name\",<br /> \"op\": \"replace\"<br /> }<br /></pre><br />Adding ExtraData:<br /><pre><br /> PATCH /v2/products/{merchantProductNo}<br /> {<br /> \"value\": {\"key\": \"Key1\", \"value\": \"value1\"},<br /> \"path\": \"extraData/0\",<br /> \"op\": \"add\"<br /> }<br /></pre><br />Replacing ExtraData (will replace entire ExtraData collection):<br /><pre><br /> PATCH /v2/products/{merchantProductNo}<br /> {<br /> \"value\": [{\"key\": \"Key1\", \"value\": \"value1\"}],<br /> \"path\": \"extraData\",<br /> \"op\": \"replace\"<br /> }<br /></pre><br />Removing all ExtraData:<br /><pre><br /> PATCH /v2/products/{merchantProductNo}<br /> {<br /> \"path\": \"extraData\",<br /> \"op\": \"replace\"<br /> }<br /></pre><br /> Or:<br /><pre><br /> PATCH /v2/products/{merchantProductNo}<br /> {<br /> \"path\": \"extraData\",<br /> \"op\": \"remove\"<br /> }<br /></pre>",
        "operationId": "ProductPatch",
        "parameters": [
          {
            "name": "merchantProductNo",
            "in": "path",
            "description": "The MerchantProductNo of the product you wish to patch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The JsonPatchDocument providing the operations you wish to perform on the product. <br /> Value contains the value you wish to set on the property you're updating (used with operations \"add\" and \"replace\").<br /> Path contains the path to the property you're updating (e.g. Description). Every property in the model used for creation an updating can be used.<br /> Op contains the operation you wish to perform (\"add\",\"replace\",\"remove\").<br /> From is only used when using the \"move\" operation. It refers to the source path of the value to be moved.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleOfProductCreationResult"
                }
              }
            }
          }
        }
      }
    },
    "/v2/products/bulkdelete": {
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "Deletes products",
        "description": "Deletes a products based on the **Merchant product number**.<br /> <br />**NB:** ChannelEngine deactivates but does not delete the products entirely, as they might be still referenced in orders.<br />Therefore, the references used for these products cannot be reused.",
        "operationId": "ProductBulkDelete",
        "requestBody": {
          "description": "The list of MerchantProductNo of the products you wish to delete.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "**Message** can be **\"Items successfully deleted\"** or in case of validations **\"Items successfully deleted. Warning:...\"**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/products/extra-data/bulk": {
      "patch": {
        "tags": [
          "Product"
        ],
        "summary": "Adds, updates, or deletes custom attributes",
        "description": "Adds, updates, or deletes the custom attributes (a.k.a. extra data keys) for multiple products.<br />You can update single or multiple attributes for one or multiple products. The format of this endpoint is [JSON Patch](http://jsonpatch.com/).<br /><br />**NB:** the **Merchant product number** must be unique.<br /><br />Sample request:<br /><pre><br />PATCH /v2/products/extra-data/bulk<br />[<br /> {<br /> \"MerchantProductNo\": \"{merchantProductNo}\",<br /> \"Operations\": [<br /> {<br /> \"Op\": \"add\",<br /> \"Key\": \"{Key}\",<br /> \"Value\": \"{Value}\"<br /> }<br /> ]<br /> },<br /> {<br /> \"MerchantProductNo\": \"{merchantProductNo}\",<br /> \"Operations\": [<br /> {<br /> \"Op\": \"replace\",<br /> \"Key\": \"{Key}\",<br /> \"Value\": \"{Value}\"<br /> },<br /> {<br /> \"Op\": \"add\",<br /> \"Key\": \"{Key}\",<br /> \"Value\": \"{Value}\"<br /> }<br /> ]<br /> },<br /> {<br /> \"MerchantProductNo\": \"{merchantProductNo}\",<br /> \"Operations\": [<br /> {<br /> \"Op\": \"remove\",<br /> \"Key\": \"{Key}\",<br /> \"Value\": \"{Value}\"<br /> }<br /> ]<br /> }<br /> ]<br /></pre>",
        "operationId": "ProductBulkPatchExtraDataItems",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantProductExtraDataRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantProductExtraDataRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantProductExtraDataRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleOfProductCreationResult"
                }
              }
            }
          }
        }
      }
    },
    "/v2/products/extra-data": {
      "patch": {
        "tags": [
          "Product"
        ],
        "summary": "Adds, updates, or deletes a custom attribute",
        "description": "Adds, updates, or deletes the specific custom attribute (a.k.a. extra data key) for a single product.<br />You can update a single attribute for a product. The format of this endpoint is [JSON Patch](http://jsonpatch.com/).<br /><br />**NB:** the **Merchant product number** must be unique.<br /><br />Sample requests:<br /> <br />Adding ExtraData:<br /><pre><br /> PATCH /v2/products/extra-data<br /> {<br /> \"MerchantProductNo\": \"{merchantProductNo}\",<br /> \"Operations\": [<br /> {<br /> \"Op\": \"add\",<br /> \"Key\": \"{Key}\",<br /> \"Value\": \"{Value}\"<br /> }<br /> ]<br /> }<br /> </pre><br />Updating ExtraData:<br /><pre><br /> PATCH /v2/products/extra-data<br /> {<br /> \"MerchantProductNo\": \"{merchantProductNo}\",<br /> \"Operations\": [<br /> {<br /> \"Op\": \"replace\",<br /> \"Key\": \"{Key}\",<br /> \"Value\": \"{Value}\"<br /> }<br /> ]<br /> }<br /></pre><br />Removing ExtraData with key:<br /><pre><br /> PATCH /v2/products/extra-data<br /> {<br /> \"MerchantProductNo\": \"{merchantProductNo}\",<br /> \"Operations\": [<br /> {<br /> \"Op\": \"remove\",<br /> \"Key\": \"{Key}\",<br /> }<br /> ]<br /> }<br /></pre>",
        "operationId": "ProductPatchExtraDataItems",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantProductExtraDataRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantProductExtraDataRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantProductExtraDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleOfProductCreationResult"
                }
              }
            }
          }
        }
      }
    },
    "/v2/products/freeze": {
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "Updates selected products and sets them either to frozen or not-frozen status.",
        "description": "Changes state of products by updating it with FREEZE or UNFREEZE state.<br />All fields are required.",
        "operationId": "ProductFreeze",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FreezeProductRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FreezeProductRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FreezeProductRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleOfApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/product-attribute-group": {
      "post": {
        "tags": [
          "ProductAttributeGroup"
        ],
        "summary": "Creates a custom attribute group",
        "description": "Creates a custom attribute group based on the set of custom attributes (a.k.a. extra data keys).",
        "operationId": "ProductAttributeGroupCreate",
        "requestBody": {
          "description": "Collection of product attribute groups with linked product extra data keys.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeGroupRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeGroupRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeGroupRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ProductAttributeGroup"
        ],
        "summary": "Gets custom attribute groups",
        "description": "Gets the custom attribute groups based on the **Group name** provided.",
        "operationId": "ProductAttributeGroupGetByFilter",
        "parameters": [
          {
            "name": "groupNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantProductAttributeGroupWithProductExtraDataResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/product-attribute-group/{groupName}": {
      "delete": {
        "tags": [
          "ProductAttributeGroup"
        ],
        "summary": "Deletes a custom attribute group",
        "description": "Deletes the custom attribute group based on the **Group name** provided.<br />**NB:** you can only delete a custom attribute group that does not have any markeplaces (a.k.a. channels) linked to it.",
        "operationId": "ProductAttributeGroupDelete",
        "parameters": [
          {
            "name": "groupName",
            "in": "path",
            "description": "The group name of the product attribute group you wish to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/product-attribute-group/{groupName}/add": {
      "put": {
        "tags": [
          "ProductAttributeGroup"
        ],
        "summary": "Adds custom attributes to a group",
        "description": "Adds the provided custom attributes (a.k.a. extra data keys) to the custom attribute group.<br />**NB:** you can only add existing custom attributes to a group.",
        "operationId": "ProductAttributeGroupAddProductExtraData",
        "parameters": [
          {
            "name": "groupName",
            "in": "path",
            "description": "The group name of the product attribute group you wish to add product extra data.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Product extra data keys to be added.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AddProductExtraDataRequests"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddProductExtraDataRequests"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddProductExtraDataRequests"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/product-attribute-group/{groupName}/remove": {
      "put": {
        "tags": [
          "ProductAttributeGroup"
        ],
        "summary": "Deletes custom attributes from a group",
        "description": "Removes the custom attributes (a.k.a. extra data keys) from the custom attribute group.<br />**NB:** you can only remove existing custom attributes from a group.",
        "operationId": "ProductAttributeGroupRemoveProductExtraData",
        "parameters": [
          {
            "name": "groupName",
            "in": "path",
            "description": "The group name of the product attribute group you wish to remove product extra data.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Product extra data keys to be removed.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveProductExtraDataRequests"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveProductExtraDataRequests"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveProductExtraDataRequests"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/product-attribute-group/linked-channels": {
      "get": {
        "tags": [
          "ProductAttributeGroup"
        ],
        "summary": "Gets custom attribute groups and linked marketplaces",
        "description": "Gets all custom attribute groups and marketplaces (a.k.a. channels) linked to them.",
        "operationId": "ProductAttributeGroupGetWithChannelsByFilter",
        "parameters": [
          {
            "name": "groupNames",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantProductAttributeGroupWithLinkedChannelsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/product-attribute-group/rename": {
      "post": {
        "tags": [
          "ProductAttributeGroup"
        ],
        "summary": "Renames custom attribute groups",
        "description": "Renames the custom attribute groups.",
        "operationId": "ProductAttributeGroupRenameProductAttributeGroup",
        "requestBody": {
          "description": "List of old and new product attribute group names.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RenameProductAttributeGroupRequests"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RenameProductAttributeGroupRequests"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RenameProductAttributeGroupRequests"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/productbundles": {
      "get": {
        "tags": [
          "ProductBundle"
        ],
        "summary": "Gets product bundles",
        "description": "Gets the product bundle details.",
        "operationId": "ProductBundleGetByFilter",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search product(s) by Name, MerchantProductNo, Ean or Brand<br />This search is applied to the result after applying the other filters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eanList",
            "in": "query",
            "description": "Search products by submitting a list of EAN's.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "merchantProductNoList",
            "in": "query",
            "description": "Search products by submitting a list of MerchantProductNo's.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantProductBundleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/purchase-orders/shipments/merchant": {
      "get": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Gets purchase order shipments by filter",
        "description": "Gets purchase order shipments based on the available filters.",
        "operationId": "GetByFilterShipmentMerchant",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "description": "The identifier of the channel",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "identifiers.identifierType",
            "in": "query",
            "description": "The type of identifier: which identifier to filter on",
            "schema": {
              "$ref": "#/components/schemas/PurchaseOrderShipmentIdentifierTypeValue"
            }
          },
          {
            "name": "identifiers.models",
            "in": "query",
            "description": "The value (of the selected type) to filter on",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "shippedDateRange.fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "shippedDateRange.toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createDateRange.fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createDateRange.toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updateDateRange.fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updateDateRange.toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "billOfLadingNumber",
            "in": "query",
            "description": "The Bill of Lading number. Multiple shipments can have the same Bill of Lading number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carrierName",
            "in": "query",
            "description": "The name of the carrier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfIPurchaseOrderShipmentByFilter"
                }
              }
            }
          }
        }
      }
    },
    "/v2/purchase-orders/shipments": {
      "post": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Create a purchase order shipment.",
        "description": "One shipments can ship (parts of) multiple orders",
        "operationId": "Create",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SingleMerchantCreatePurchaseOrderShipmentRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleMerchantCreatePurchaseOrderShipmentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SingleMerchantCreatePurchaseOrderShipmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Update a purchase order shipment.",
        "operationId": "Update",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SingleMerchantUpdatePurchaseOrderShipmentRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleMerchantUpdatePurchaseOrderShipmentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SingleMerchantUpdatePurchaseOrderShipmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/purchase-orders": {
      "get": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Gets purchase orders by filter",
        "description": "Gets purchase orders based on the available filters.",
        "operationId": "GetByFilter",
        "parameters": [
          {
            "name": "identifiers.identifierType",
            "in": "query",
            "description": "The type of identifier: which identifier to filter on",
            "schema": {
              "$ref": "#/components/schemas/PurchaseOrderIdentifierType"
            }
          },
          {
            "name": "identifiers.models",
            "in": "query",
            "description": "The value (of the selected type) to filter on",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ModulesPurchaseOrderStatus"
              }
            }
          },
          {
            "name": "orderDateRange.fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "orderDateRange.toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createDateRange.fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createDateRange.toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updateDateRange.fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updateDateRange.toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "channelIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ModulesPurchaseOrderType"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfIPurchaseOrderByFilter"
                }
              }
            }
          }
        }
      }
    },
    "/v2/purchase-orders/lines/acknowledge": {
      "post": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Acknowledges lines of a purchase order",
        "description": "Creates line acknowledgements (i.e., accepted, backordered, rejected) for a purchase order.<br />Request will be accepted and data persisted only if all validations passed.<br />Any validation messages and errors will be returned in a HTTP 4xx response.",
        "operationId": "Acknowledge",
        "requestBody": {
          "description": "Model for purchase order and lines data to be acknowledged with the channel.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SingleMerchantAcknowledgePurchaseOrderLinesRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleMerchantAcknowledgePurchaseOrderLinesRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SingleMerchantAcknowledgePurchaseOrderLinesRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/purchase-orders/invoice": {
      "post": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Creates a purchase order invoice",
        "description": "Creates invoice for a purchase order.<br />Request will be accepted and data persisted only if all validations passed.<br />Any validation messages and errors will be returned in a HTTP 4xx response.",
        "operationId": "CreateInvoice",
        "requestBody": {
          "description": "Model for purchase order invoice.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SingleMerchantCreatePurchaseOrderInvoiceRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleMerchantCreatePurchaseOrderInvoiceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SingleMerchantCreatePurchaseOrderInvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/purchase-orders/invoice/bulk": {
      "post": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Creates a purchase order invoices in a bulk",
        "description": "Creates invoices for a purchase orders in a bulk.<br />Request will be accepted and data persisted only if all validations passed.<br />Any validation messages and errors will be returned in a HTTP 4xx response.",
        "operationId": "CreateInvoices",
        "requestBody": {
          "description": "Model for purchase order invoices.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/BulkMerchantCreatePurchaseOrderInvoicesRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkMerchantCreatePurchaseOrderInvoicesRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BulkMerchantCreatePurchaseOrderInvoicesRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/reports/settlements": {
      "post": {
        "tags": [
          "Report"
        ],
        "summary": "Creates a settlement report",
        "description": "Creates a settlement report based on the **Settlement ID** provided. There are 3 types of reports:<br />**SUMMARY** - a high level financial overview.<br />**DETAILED** - a detailed report containing all transactions.<br />**CUSTOM_JSON** - a report grouped by orders, you can name the csv columns with a JSON file.<br /> <br />All the settlements are automatically acknowledged if that was not already the case.<br />**NB:** depending on the number of transactions within the settlement, it can take a few minutes for the report to be generated.",
        "operationId": "ReportCreateSettlementsReport",
        "requestBody": {
          "description": "To provide settlementIds and type of report SUMMARY or DETAILED.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantCreateSettlementsReportRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantCreateSettlementsReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantCreateSettlementsReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantCreateReportResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/reports/{reportId}/status": {
      "get": {
        "tags": [
          "Report"
        ],
        "summary": "Gets the status of a settlement report",
        "description": "Returns a report status based on the **Report ID** provided. There are four statuses:<br />**IN_PROGRESS** - the report is still being created.<br />**DONE** - the report has been created.<br />**FAILED** - the report creation failed.<br />**NOT_FOUND** - the Report ID was not found.<br /> <br />**NB:** if the status is **DONE**, the response contains a URL with a download path.",
        "operationId": "ReportGetStatus",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantGetReportStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/reports/{reportId}": {
      "get": {
        "tags": [
          "Report"
        ],
        "summary": "Gets a settlement report",
        "description": "Gets a settlement report based on the **Report ID** provided. The generated report is a CSV file with a semicolon (;) as a delimiter.<br />If a field has a comma (,) then it is enclosed in quotes (\"\").",
        "operationId": "ReportGetReport",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report csv",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/returns/merchant": {
      "get": {
        "tags": [
          "Return"
        ],
        "summary": "Gets marketplace returns",
        "description": "Gets all returns created by the marketplace.<br /><br />**NB:** this endpoint is used for both marketplace and marketplace-fulfilled returns.",
        "operationId": "ReturnGetDeclaredByChannel",
        "parameters": [
          {
            "name": "channelIds",
            "in": "query",
            "description": "Filter on Channel IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "merchantOrderNos",
            "in": "query",
            "description": "Filter on unique order reference used by the merchant.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "channelOrderNos",
            "in": "query",
            "description": "Filter on unique order reference used by the channel.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fulfillmentType",
            "in": "query",
            "description": "Filter on the fulfillment type of the order.",
            "schema": {
              "$ref": "#/components/schemas/FulfillmentType"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Return status(es) to filter on.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ReturnStatus"
              }
            }
          },
          {
            "name": "reasons",
            "in": "query",
            "description": "Return reason(s) to filter on.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ReturnReason"
              }
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Filter on the creation date, starting from this date. This date is inclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Filter on the creation date, until this date. This date is exclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "isAcknowledged",
            "in": "query",
            "description": "Filters based on acknowledgements",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantReturnResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Return"
        ],
        "summary": "Creates merchant return",
        "description": "Marks an order as either fully or partially returned.<br /><br />**NB:** this endpoint is used for merchant returns (i.e.: returns dealt with by the merchant).",
        "operationId": "ReturnDeclareForMerchant",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantReturnRequest"
              }
            },
            "application/json": {
              "schema": {
[...]
